:root {
    --padding: 15mm;
    --border: 0.6mm solid #575757;
    --commonPadding: 8mm 0mm 5mm 3mm;
    --expPadding: 5mm 0mm 5mm 5mm;
    --introFont: 12mm;
    --subHeaderFont: 4.2mm;
    --headerFont: 6mm;
    --contentFont: 3.5mm;
    --iconsHeight: 4mm;
    --lato: 'lato', sans-serif;
    --latoMedium: 'lato-medium', sans-serif;
    --now: 'Now', sans-serif;
    --nowBold: 'Now-bold', sans-serif;
    --bold: 800;
    --profilePadding: 5mm 1mm 1mm 1mm;
    --boxOnegap: 4mm;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

@page {
  size: A4;
  margin: 0;
}

body {
  background: #ccc;
  padding: 20mm;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.a4-page {
  background: white;
  width: 210mm;
  height: 297mm;
  box-shadow: 0 0 5mm rgba(0, 0, 0, 0.2);
  padding: 10mm;
  overflow: hidden;
}

.intro {
  display: flex;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  flex-direction: column;
  align-items: center;
  border-top: var(--border);
  border-bottom: var(--border);
}

.intro .name {
  font-size: var(--introFont);
  font-family: var(--now);
  letter-spacing: 1mm;
  font-weight: var(--bold);
  color: #575757;
}

.intro .position {
  font-family: var(--latoMedium);
  font-size: var(--subHeaderFont);
  color: #606060;
  letter-spacing: 0.8mm;
  font-weight: 500;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.boxOne {
  display: flex;
  gap: var(--boxOnegap);
  border-bottom: var(--border);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: var(--boxOnegap);
  padding: var(--commonPadding);
  border-right: var(--border);
  width: 60mm;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: var(--boxOnegap);
  padding: var(--profilePadding);
  flex: 1;
}

.title {
  font-family: var(--nowBold);
  font-size: var(--headerFont);
  font-weight: var(--bold);
  letter-spacing: 1mm;
  color: #575757;
}

.title strong:first-child {
  position: relative;
}

.title strong:first-child::before {
  content: '';
  position: absolute;
  background: black;
  width: 5.7mm;
  height: 5.7mm;
  border-radius: 50%;
  top: 0.5mm;
  right: 0mm;
  opacity: 0.1;
}

.contact div:not(.title),
.content {
  font-size: var(--contentFont);
  font-family: var(--lato);
  display: flex;
  gap: 2.5mm;
  color: #616161;
}

.contact div:not(.title) img {
  height: var(--iconsHeight);
}

.content {
  line-height: 6mm;
}

.boxTwo {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.edu {
  display: flex;
  flex-direction: column;
  gap: 5mm;
  padding: var(--commonPadding);
  border-bottom: var(--border);
  border-right: var(--border);
  width: 60mm;
}

.eduData {
  font-size: var(--contentFont);
  font-family: var(--latoMedium);
  display: flex;
  flex-direction: column;
  gap: 1.5mm;
}
.skills,
.language {
  padding: var(--commonPadding);
  border-bottom: var(--border);
  border-right: var(--border);
  color: #575757;
}
.exp {
  padding: var(--expPadding);
  border-bottom: var(--border);
}
@media print {
  body {
    margin: 0;
    padding: 0;
    background: white;
    justify-content: initial;
  }

  .a4-page {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
    zoom: 1 !important;
    transform: scale(1);
  }

  img {
    display: none;
  }
}
.skills ul,
.language ul {
  padding-top: 3mm;
  display: flex;
  flex-direction: column;
  gap: 3mm;
  font-size: var(--contentFont);
  font-family: var(--latoMedium);
  margin-left: 6mm;
}
.expBoxConatiner {
  display: flex;
}
.company {
  padding-top: 3.5mm;
  display: flex;
  gap: 1mm;
  flex-direction: column;
  font-size: var(--contentFont);
  font-family: var(--latoMedium);
  color: #575757;
}

.compDetail .name {
  font-weight: var(--bold);
}
.workExp {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  flex-direction: column;
  padding-top: 12px;
}
.compDetail {
  display: flex;
  font-size: var(--contentFont);
  width: 100%;
  justify-content: space-between;
  color: #575757;
  font-family: var(--latoMedium);
  align-items: center;
}
